h1{
    color: blue;
}

#message_list li {
    color: blue;
    display: block;
    font-size: 18px;
    
}

#channelBar ul{
    list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: green;
    width: auto;
    
}

/* display links in a single row*/
#channelBar  li{
    display: inline;
}
#channelBar li a {
    display: inline;
    background-color: green;
}

/*Display links in blocks*/

#channelBar a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
}

/*change the link colour when hovering*/

#channelBar a:hover{

    color: white;
    background-color: red;
    text-decoration: none;

}
#name_new_channel{
    display: none;
}
#getHistory{
    display: none;
}